body {
  background: #fafafa;
  color: #2a2a2a;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #ffBC00;
  text-decoration: none;
}

h1,
h2,
p,
ul,
li {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.leftSlide {
  background: #fafafa;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100vh;
  max-height: 100vh;
  max-width: 50vw;
  max-height: 100vh;
  min-width: 50vw;
  position: relative;
  width: 50vw;
}

.leftSlide__wrapper {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px;
  padding: 1rem;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .leftSlide__wrapper {
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0.4rem;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  .leftSlide__wrapper {
    padding: 0.4rem;
  }
}

@media screen and (max-width: 360px) {
  .leftSlide__wrapper {
    padding: 0.4rem;
  }
}

.leftSlide__logo {
  color: #1d1d1d;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  font-family: "Lato", sans-serif;
  font-size: 22.4px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin: 0 0 4.8px 0;
  margin: 0 0 0.3rem 0;
  padding: 16px 16px 0;
  padding: 1rem 1rem 0;
  text-transform: uppercase;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .leftSlide__logo {
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 1rem 1rem 0;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  .leftSlide__logo {
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 0.4rem 0.4rem 0;
  }
}

@media screen and (max-width: 360px) {
  .leftSlide__logo {
    font-size: 1.2rem;
    padding: 0.4rem 0.4rem 0;
  }
}

.leftSlide__subheading {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  font-family: "Lato", sans-serif;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 3px;
  margin: -6.4px 0 0;
  margin: -0.4rem 0 0;
  padding: 3.2px 16px;
  padding: 0.2rem 1rem;
  text-indent: 1.6px;
  text-indent: 0.1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .leftSlide__subheading {
    font-size: 0.9rem;
    letter-spacing: 2.1px;
    line-height: 1.1rem;
    padding: 0.2rem 1rem;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  .leftSlide__subheading {
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 1.1rem;
    padding: 0.2rem 0.4rem;
  }
}

@media screen and (max-width: 360px) {
  .leftSlide__subheading {
    font-size: 0.6rem;
    letter-spacing: 1px;
    line-height: 0.9rem;
    padding: 0.2rem 0.4rem;
  }
}

.leftSlide__logoNavContainer {
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .leftSlide__logoNavContainer {
    max-width: 12rem;
  }
}

.leftSlide__contact {
  bottom: 48px;
  bottom: 3rem;
  left: 48px;
  left: 3rem;
  position: absolute;
}

.leftSlide__contact a {
  color: #2a2a2a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}

.leftSlide__contact a:before,
.leftSlide__contact a::before {
  background: #ffBC00;
  content: "";
  height: 4px;
  position: absolute;
  top: -8px;
  width: 24px;
}

.leftSlide__projectWrapper {
  right: 32px;
  right: 2rem;
  position: absolute;
  top: calc(50% + 1rem);
  transform: translateY(-50%);
}

.leftSlide__projectHeader {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: right;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .leftSlide__projectHeader {
    font-size: 2rem;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  .leftSlide__projectHeader {
    font-size: 1.6rem;
    letter-spacing: 1.6px;
  }
}

@media screen and (max-width: 360px) {
  .leftSlide__projectHeader {
    font-size: 1.4rem;
    letter-spacing: 1.4px;
  }
}

.leftSlide__projectDescription {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 3.2px 0 0;
  margin: 0.2rem 0 0;
  text-align: right;
  text-transform: uppercase;
}

.leftSlide__titleSpot {
  height: 64px;
  height: 4rem;
  overflow: hidden;
  max-height: 64px;
  max-height: 4rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .leftSlide__titleSpot {
    height: 2.6rem;
    max-height: 2.6rem;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  .leftSlide__titleSpot {
    height: 2rem;
    max-height: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .leftSlide__titleSpot {
    height: 2rem;
    max-height: 2rem;
  }
}

.leftSlide__projectTitleList {
  height: 64px;
  height: 4rem;
  list-style-type: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .leftSlide__projectTitleList {
    height: 2.6rem;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  .leftSlide__projectTitleList {
    height: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .leftSlide__projectTitleList {
    height: 2rem;
  }
}

.leftSlide__projectTitleItem {
  height: 64px;
  height: 4rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .leftSlide__projectTitleItem {
    height: 2.6rem;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  .leftSlide__projectTitleItem {
    height: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .leftSlide__projectTitleItem {
    height: 2rem;
  }
}

.leftSlide__descriptionSpot {
  height: 48px;
  height: 3rem;
  overflow: hidden;
  max-height: 48px;
  max-height: 3rem;
}

.leftSlide__projectDescriptionList {
  height: 48px;
  height: 3rem;
  list-style-type: none;
}

.leftSlide__projectDescriptionItem {
  height: 48px;
  height: 3rem;
}

#bc-circle-crust {
  fill: #2a2a2a;
}

#bc-circle-mantle {
  fill: #fafafa;
}

#bc-circle-core {
  fill: #ffBC00;
}

@keyframes spinning {
  50% {
    stroke-dashoffset: 930px;
  }

  0%, 100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes spinning2 {
  50% {
    stroke-dashoffset: 1488px;
  }

  0%, 100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes spinning3 {
  50% {
    stroke-dashoffset: 1200px;
  }

  0%, 100% {
    stroke-dashoffset: 0px;
  }
}

#loader {
  background: #ffBC00;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  z-index: 5;
}

#logo {
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
}

#logo * {
  transform-origin: center;
}

.loading #bc-circle-crust {
  animation: spinning 5s ease infinite;
  fill: transparent;
  stroke: #fafafa;
  stroke-dasharray: 470px;
  stroke-width: 8px;
}

.loading #bc-circle-mantle {
  animation: spinning2 4.5s ease 0s infinite;
  fill: transparent;
  stroke: #2a2a2a;
  stroke-dasharray: 440px;
  stroke-width: 8px;
}

.loading #bc-circle-core {
  animation: spinning3 4s ease 0s infinite;
  fill: transparent;
  stroke: #fafafa;
  stroke-dasharray: 420px;
  stroke-width: 8px;
}

@viewport {
  width: extend-to-zoom;
  zoom: 1;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1;
}

#main {
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  overflow: hidden;
}

.loading {
  overflow: hidden;
}
